/* 
light puple #3D4873 
dark brown #2A2924 
dark blue #0E1223
gold #A46B06

 */


@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700,900');


body {
  font-family: 'Cinzel Decorative', cursive;
}

.container {
    /* border: 2px solid white; */
    height: inherit;
}
.v-header{
    height:100vh;
    display:flex;
    align-items:center;
    color:white;
}
.container{
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin:auto;
    text-align: center;
}
.full-screen-video-wrap{
    position: absolute;
    top:0;
    left:0;
    object-fit: fill;
    overflow: hidden;
}
.full-screen-video-wrap video{
    object-fit: fill;
}


.header-content {
    z-index: 2;
    font-family: 'Cinzel Decorative',cursive;
    text-align: center;
    
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
  }