/* 
light puple #3D4873 
dark brown #2A2924 
dark blue #0E1223
gold #A46B06

 */

/* import cinzel font */
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700,900');

/* style for header */
body {
    font-family: 'Cinzel Decorative', cursive;
}

.container {
    /* border: 2px solid white; */
    height: inherit;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url("/img/header-img.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
} 
     

#intro-section {
background-color: #3D4873 ;
}

#tutorial-section {
    background-color: #0E1223;
    color: white;
}
.node>img:hover {
    width: 50px;
}
.feature-img>img:hover {
    width: 406px;
}



h1 {
    text-shadow: 3px 3px #3D4873;
  }
 
 .text-shadow  {
     text-shadow: 3px 3px rgb(77, 49, 2);
 }


/* for testing only */
 /* 
 .box {
    border: 2px solid white;
}  */

/* for testing only */